@import "./variables.scss";

$theme-colors: (
	"primary": $primary,
	"accent": $accent,
	"light": $light,
	"success": $success,
	"danger": $danger,
	"secondary": $secondary,
	"warning": $warning,
	"info": $info,
	"dark": $dark,
);

@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

.heading {
  text-align: center;
}

.title {
	margin-top: 15px;
	margin-bottom: 0;
	font-family: 'Yatra One';
	color: $primary;
}

.form-control, .form-select {
	border: none;
	box-shadow: 0 2px 5px rgba($primary, 0.1) !important;
}

.info-item {
	width: fit-content;
	text-align: center;
	margin: 15px 0;
	padding: 5px 10px;
	border-radius: $radius;

	&.centered {
		margin-left: auto;
		margin-right: auto;
	}
	&.primary {
		color: $primary;
		background: rgba($primary, 0.1);
	}
	&.accent {
		color: $accent;
		background: rgba($accent, 0.1);
	}
	&.secondary {
		color: $secondary;
		background: rgba($secondary, 0.1);
	}
	&.success {
		color: $success;
		background: rgba($success, 0.1);
	}
	&.danger {
		color: $danger;
		background: rgba($danger, 0.1);
	}
	&.info {
		color: $info;
		background: rgba($info, 0.1);
	}
	&.warning {
		color: $warning;
		background: rgba($warning, 0.1);
	}
	&.dark {
		color: $dark;
		background: rgba($dark, 0.1);
	}
}

@media (pointer: fine) { 
	::-webkit-scrollbar {
		width: 10px;
	}
	::-webkit-scrollbar-track {
		background: rgba($dark, 0.1);
	}
	::-webkit-scrollbar-thumb {
		background: lighten($dark, 40%);
		border-radius: 2px;
	}
	::-webkit-scrollbar-thumb:hover {
		background: lighten($dark, 30%);
	}
}