@import "./variables.scss";

$theme-colors: (
	"primary": $primary,
	"accent": $accent,
	"light": $light,
	"success": $success,
	"danger": $danger,
	"secondary": $secondary,
	"warning": $warning
);

@import "../../node_modules/bootstrap/scss/bootstrap";

.heading {
  text-align: center;
}

.form-control, .form-select {
	border: none;
	box-shadow: 0 2px 5px rgba($primary, 0.1) !important;
}