@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$accent: #073C5E;
$light: #F4F7FF;

$transition: all 300ms ease-out;
$radius: 10px;
$shadow: 0 5px 25px rgba(0, 0, 0, 0.07);